<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281713717458-k2err1lved9mqq82jjnsptm19qf32ksv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281713717458-k2err1lved9mqq82jjnsptm19qf32ksv</string>
	<key>API_KEY</key>
	<string>AIzaSyAIj7J-p6rgreri39gB9U94FLjMPywH1SE</string>
	<key>GCM_SENDER_ID</key>
	<string>281713717458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AK.e-Prekyba</string>
	<key>PROJECT_ID</key>
	<string>e-prekyba-d6460</string>
	<key>STORAGE_BUCKET</key>
	<string>e-prekyba-d6460.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281713717458:ios:7622d31bf350a99fff7d0b</string>
	<key>DATABASE_URL</key>
	<string>https://e-prekyba-d6460.firebaseio.com</string>
</dict>
</plist>